body {
	font-family: sans-serif;
	color: #FFFFFF;
	background: #420600 url('img/background.png') repeat;
}

a {
	color: #2b96f1;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
}

h2 {
	font-size: 1.5em;
	/*color: #B4C34F;*/
}

p {
	color: #777674;
}

.btn {
	color: #FFF;
	background: #2b96f1 no-repeat right top;
	padding: 15px 35px;
	margin: 40px 0px;
	border-radius: 5px;
	border: solid 1px #135fa4;
	font-size: 20px;

} 

.btn:hover {
	background-color: #24a5e4;
	border-color: #2875b8;
}

ul.nav {
	margin: 120px 0 77px 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px; 
}

ul.nav li a {
	color: #FFFFFF;
}

#intro {
	margin: 111px 20px 111px 0 ;
}

#quirky-thing img {
	margin: 0 0 20px 0;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}